<div class="row">
    <div class="col title">
        <h2 routerLink="/employees"><i class="fas fa-arrow-left"></i>Employee</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="paper mt-3">
            <div class="form-row">
                <div class="form-group col">
                    <label for="firstName">First Name</label>
                    <div>
                        {{user.firstName}}
                    </div>
                </div>
                <div class="form-group col">
                    <label for="lastName">Last Name</label>
                    <div>
                        {{user.lastName}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="username">Username</label>
                    <div>
                        {{user.username}}
                    </div>
                </div>
                <div class="form-group col">
                    <label for="email">Email</label>
                    <div>
                        {{user.email}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="birthDate">Date of Birth</label>
                    <div>
                        {{user.birthDate}}
                    </div>
                </div>
                <div class="form-group col">
                    <label for="basicSalary">Basic Salary</label>
                    <div>
                        Rp. {{user.basicSalary | number:'.2':'id-ID'}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="status">Status</label>
                    <div>
                        {{user.status}}
                    </div>
                </div>
                <div class="form-group col">
                    <label for="group">Group</label>
                    <div>
                        {{user.group}}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="description">Description</label>
                    <div>
                        {{user.description}}
                    </div>
                </div>
            </div>
            <hr>
            <a routerLink="/employees" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>
